
<head>
<style type="text/css">
ol
	{margin-bottom:0cm;}
 li.MsoNormal
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;
	}
</style>
</head>

<ol start="1" type="1">
	<li class="MsoNormal" style="color:#333333;mso-margin-top-alt:auto;mso-margin-bottom-alt:
     auto;line-height:150%;mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">
	<span style="font-size:12.0pt;line-height:150%;font-family:&quot;Arial&quot;,sans-serif;
     mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:ES">
	&lt;TITLE&gt; EJERCICIO DE GIT&lt;/TITLE&gt;</span></li>
</ol>
